.main-chat-containar {
  display: flex;
  /* height: 70vh;
  overflow-y: auto;
  overflow-x: hidden; */
  scrollbar-color: #6a8689 #c2d3e1;
  padding-top: 9em;
}



.inner-chat-containar {
  /* min-width: 16em;
  max-width: 20em;
  height: 70vh; */
    min-width: 38em;
  max-width: 48em;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.send-icon {
  font-size: 23px;
  margin-left: 4px;
  color: var(--enter-icon, #000);
}

.chat-card {
  display: flex;
  justify-content: right;
}

.chat-message-text {
  flex-grow: 1;
}
