.main-chat-containar {
  display: flex;
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #6a8689 #c2d3e1;
  padding-top: 9em;
}
.chat-message-text .message-card {
  border-radius: 8px;
}

.chat-message-text .ant-row:last-child .message-card {
  border-radius: 0px 20px 20px 20px;
}
.chat-message-text .user-message-card {
  border-radius: 8px;
}

.chat-message-text .ant-row:last-child .user-message-card {
  border-radius: 20px 0px 20px 20px;
}
.chat-message {
  background-color: var(--chat-message-bg, #fff);

  margin-bottom: 8px;
}

.inner-chat-containar {
  min-width: 16em;
  max-width: 20em;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.send-icon {
  font-size: 23px;
  margin-left: 4px;
  color: var(--enter-icon, #000);
}

.chat-card {
  display: flex;
  justify-content: right;
}

.chat-message-text {
  flex-grow: 1;
}
