:root {
    --main-bg-color-grad-1: #DDEEED 63.17%;
    --main-bg-color-grad-2: #FDF1E0 94.92%;
    --enter-icon: #0000 100%;
  }
.main-bg {
    Background : linear-gradient(239.26deg,var(--main-bg-color-grad-1, #DDEEED 63.17%), var(--main-bg-color-grad-2, #FDF1E0 94.92%));
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.login-containar {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
}
.ant-card .ant-card-body {
    padding: 8px !important;
}
.theme-setting {
    position: absolute;
    top: 20px;
}

label {
    margin-top: 8px;
    text-align: center;
    font-size: 18px;
}

.color-picker-containar {
    flex-direction: column;
}

input {
    border-radius: 4px !important;
}

.ant-popover {
    margin-right: 8px !important;
}

.mb-10 {
    margin-bottom: 10px;
  }

.ant-input-outlined:focus {
    box-shadow: none !important;
}